* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

header {
  background-color: #07cbc9;
  height: 80px;
}

header .header-top {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

header .header-top .logo {
  height: 48px;
  margin-top: 16px;
  margin-bottom: 16px;
  float: left;
}

header .header-top .logo h1 {
  height: 48px;
}

header .header-top .main-nav {
  float: right;
}

.header-all header .header-top .main-nav ul li {
  float: left;
  font-size: 16px;
  margin-right: 20px;
  line-height: 80px;
}

.header-all header .header-top .main-nav ul li a {
  color: white;
  text-decoration: none;
}

.header-all img{
  position: relative;
  height: 600px;
  width: 100%;
}

.header-all .banner .cover{
  position: absolute;
  
}

.header-all .banner .cover form{
  position: absolute;
}

